<ion-header-bar class="bar-positive">
<h1 class="title" style="cursor:pointer" >
    <a href="#/class/" style="text-decoration:none">
        <i class="icon ion-chevron-left" style="font-size:20px;margin-right:10px"></i>
    </a>
    会话
</h1>
</ion-header-bar>

<ion-content>
    <ion-list>
        <ion-item  class="item item-avatar"  
        ng-click="exchangeRoom(room)"
        on-swipe-left="removeRoom(room)"
        ng-repeat="room in roomsDict.roomIds"> 
        <img ng-src="{{roomsDict[room].roomImgUrl}}"/>
        <p>{{roomsDict[room].roomName}}</p>
        <p>{{roomsDict[room].messages[roomsDict[room].messages.length - 1].body.m}}</p>
        </ion-item>
    </ion-list>
</ion-content>
