<ion-view hide-back-button="false">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear" ng-click="goBack()">
            <i class="ion-chevron-left" style="font-size:20px;"></i> 
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-title>
        <ion-header-bar>
        <h1 class="title">
            {{session.name}}
        </h1>
        </ion-header-bar>
    </ion-nav-title>

    <ion-content>
    </ion-content>

    <ion-footer-bar >
        <input type="text" ng-model="message" style="padding:5px;width:85%;border:1px solid #999;margin-right:1%"/>
        <button class="button button-balanced" ng-click="send(session, message)" style="width:14%">发送</button>
    </ion-footer-bar >
</ion-view>
