<ion-header-bar class="bar-positive">
<h1 class="title" style="cursor:pointer" ng-click="resetClasses()">
    <i class="icon ion-left ion-home" style="font-size:23px;margin-right:10px"></i>
    首页
</h1>
</ion-header-bar>

<ion-content>
    <ion-list>
    <ion-item ng-click="getChildrenClasses(class.id);" ng-repeat="class in classes" 
    href="#/rooms/{{class.id}}/">
    <!--ion-item ng-click="getChildrenClasses(class.id);" ng-repeat="class in classes" 
    href="#/chat/?type=1&name=2&id=3"-->
    <i class="{{class.ion}}" style="color:green;font-size:25px;margin-right:10px;"></i>
    {{class.name}} 
        </ion-item>
    </ion-list>
</ion-content>

