<!--ion-header-bar class="bar-dark">
    <h1 class="title">
        <a style="text-decoration:none" href="#/room/{{currentRoomId}}/resources/{{currentClass}}/class">
            <i class="icon ion-left ion-chevron-left">反回</i>
        </a>
    </h1>
</ion-header-bar-->

<ion-view hide-back-button="false">
    <ion-nav-title>
    </ion-nav-title>

    <ion-content>
        <ion-item>
        <h3>{{resource.name}}</h3>
        </ion-item>
        <ion-item>
            <p>{{resource.body}}</p>
        </ion-item>
    </ion-content>
</ion-view>
