
<ion-view hide-back-button="true">
    <ion-nav-title>
        <ion-header-bar class="bar-positive">
        <button class="button button-icon" ng-click="toggleClasses();resetClasses();">
            <i class="icon ion-navicon"></i>
        </button>
            <label class="item item-input item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input   type="search" placeholder="查询房间">
            </label>

        <button class="button button-icon" ng-click="newRoom()">
            <i class="icon ion-android-add-circle"></i>
        </button>
        </ion-header-bar>
    </ion-nav-title>

    <ion-content>
    <script id="add-new-room.html" type="text/ng-template">
        <div class="modal">
            <ion-header-bar>
                <h1 class="title">创建新房间</h1>
                <button class="button button-icon" ng-click="cancelNewRoom()">
                    <i class="icon ion-ios-close-empty"></i>
                </button>
            </ion-header-bar>

            <ion-content>
            </ion-content>
        </div>
    </script>
    <div class="list">
        <div class="item item-body card" style="margin-left:4%;margin-right:0; width:28%;float:left;margin-bottom:0px" ng-repeat="room in rooms">
            <a href="#/room/{{room.id}}/resources/0/class" style="text-decoration:none"><img class="full-image" ng-src="{{room.img}}"/>
            <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{room.name}}</p>
            <!--marquee direction="left" scrollamount=2>{{room.name}}</marquee></a-->
        </div>
    </div>
    </ion-content>
</ion-view>
